<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dettagli ordine #{{ order_id }}</ion-title>
    <ion-back-button fill="outline" slot="end" routerLink="/orders">Indietro</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dettagli ordine #{{ order_id }}</ion-title>
      <ion-back-button fill="outline" slot="end" routerLink="/orders">Indietro</ion-back-button>
    </ion-toolbar>
  </ion-header>
</ion-content>
