<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <form (ngSubmit)="doLogin()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input [(ngModel)]="username" name="username" type="text" placeholder="Inserisci username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Inserisci password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button tyoe="submit" expand="block" class="ion-margin-top" type="submit">
        Accedi
      </ion-button>
    </form>
  </div>

</ion-content>
