<ion-app>
  <ion-split-pane contentId="main-content"> 
    
    <ion-menu contentId="main-content" type="overlay" class="custom-menu">
      
      <ion-header class="ion-no-border">
        <ion-toolbar class="menu-header-toolbar">
          <div class="profile-header">
            <div class="avatar">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <h2 class="greeting">Benvenuto</h2>
            <p class="username">{{ userService.userDisplayName() }}</p>
          </div>
        </ion-toolbar>
      </ion-header>

      <ion-content class="menu-content">
        <ion-list lines="none" class="nav-list">
          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" detail="false" routerLinkActive="selected" class="nav-item">
                <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>

      <ion-footer class="ion-no-border menu-footer">
        <ion-list lines="none" class="nav-list">
          <ion-item (click)="logout()" button detail="false" class="nav-item logout-item">
            <ion-icon aria-hidden="true" slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-footer>

    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>